$light: #ffffff;
$dark: #112233;
$gutter: 30px;
$base-font-size: 14px;
$accent-color: #ff1d55;
$accent-serious: #0379c4;
$very-light: #f7f7f7;
$boring-grey: #696969;

.home-button {
  margin-top: 8px;
}
// .headerbar {
//   background-color: $accent-color;
//   color: $light;
//   padding: $gutter;
//   // position: relative;
//   height: 50px;
//   position: fixed;
//   z-index: 999;
//   top: 0;
//   width: 100%;
//   display: flex;
//   align-items: center;
// }

a {
  color: $accent-color;
  text-decoration: none;

  transition: color 0.4s, background 0.4s;

  &:hover {
    color: darken($accent-color, 10);
  }
}


main {
    max-width: 1180px;
    padding: $gutter;
    margin: 0 auto;
  
    h1 + p {
      @media (min-width: 900px) {
        font-size: 2em;
      }
    }
  
  }

header {
  background-color: $accent-color;
  color: $light;
  padding: $gutter;
  position: relative;

  .brand {
    width: 300px;
    height: 30px;

    @media (max-width: 500px) {
      width: 150px;
    }

    background-image: url("/logo-letters-negative.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 300px 30px;
    overflow: hidden;

    display: inline-block;
    position: absolute;
    left: $gutter / 2;
    top: $gutter / 1.5;
    line-height: $gutter / 2;
    text-transform: uppercase;
    padding: $gutter / 4;
    font-size: 1.4em;

    color: rgba(0, 0, 0, 0);

    transition: width 0.2s;

    &:hover {
      color: rgba(0, 0, 0, 0);
      background-color: transparent;
    }
  }

  a {
    color: $light;
    text-decoration: none;
    border-radius: $gutter / 4;

    padding: $gutter / 4;

    &:visited {
      color: $light;
    }
    &:hover,
    &:visited:hover {
      text-decoration: none;
      background-color: $light;
      color: $accent-color;
    }
  }

  nav {
    ul {
      padding: 0px;
      margin: 0px;
      display: block;

      text-align: right;

      li {
        padding: 0px;
        margin: 0px $gutter / 4;
        display: inline-block;

        &.hamburger {
          display: none;
          button {
            position: absolute;
            right: $gutter;
            top: $gutter / 1.5;
            border: 0px;
            background-color: $light;
            color: $accent-color;
            font-weight: bold;
            border-radius: 50%;
            width: $gutter;
            height: $gutter;
            overflow: hidden;
            text-align: center;
            padding: 0px;
            margin: 0px;
          }
        }
      }

      @media (max-width: 900px) {
        li {
          display: none;
          &.hamburger {
            display: inline-block;
          }
        }
      }
    }
  }
}

.sidebarNavigation {
  width: $gutter * 10;

  max-width: 95%;

  ul {
    padding: 0px;
    margin: 0px;

    li {
      display: block;

      a {
        display: block;
        line-height: 1.4em;
        padding: $gutter / 4;
      }
    }
  }
}

footer {
  margin: $gutter * 2 auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1180px;
  padding: $gutter;

  font-size: 12px;

  a:hover {
    text-decoration: none;
  }

  strong {
    text-transform: uppercase;
    margin-bottom: $gutter / 2;
    display: block;
    & a {
      color: darken($boring-grey, 30);
    }
  }

  ul {
    display: block;
    padding: 0px;
    margin: 0px;

    li {
      display: block;
      line-height: 1.4em;
      padding: $gutter / 4 0;
      margin: 0;

      a {
        color: $boring-grey;
      }

    }

  }

  .quarter-section {
    margin-bottom: $gutter;
    flex-basis: 25%;
    @media (max-width: 900px) {
      flex-basis: 33%;
    }
    @media (max-width: 700px) {
      flex-basis: 50%;
    }
    @media (max-width: 500px) {
      flex-basis: 100%;
    }
  }

}

// .site-name {
//   flex: 1;
// //   margin-left: -36px;
// }
// article {
//   margin-top: 50px;
// }
// .hamburger {
//   padding-left: 10px;
// }
// .sidebar {
//   padding: 10px;
//   margin: 0;
// }
// .sidebar > li {
//   list-style: none;
//   margin-bottom: 10px;
// }
// .sidebar a {
//   text-decoration: none;
// }
// .close-sidebar {
//   font-size: 1.5em;
//   padding-left: 5px;
// }
