$light: #ffffff;
$dark: #112233;
$gutter: 30px;
$base-font-size: 16px;
$accent-color: #0984e3;
$accent-serious: #0379c4;
$very-light: #f7f7f7;
$boring-grey: #696969;

$text-grey: #5e6163;

$hover: darken(white, 10%);

html {
  font: 400 $base-font-size "Open Sans", Arial, sans-serif;
}

p {
  font-size: $base-font-size * 1.125;
  line-height: $base-font-size * 2;
}

h2, h2 a {
  font-weight: 600;
  font-size: 2.6875rem;
  line-height: 4.125rem;
  margin: 50px 0;
}

.single-page {
  .title {
    font-weight: 600;
    font-size: 2.6875rem;
  }
}

i[class^="icon-"] {
  color: $accent-color;
}

.breadcrumbs > ul {
  border-radius: 5px;
  padding: 10px 16px;
  list-style: none;
  background-color: $very-light;
  /* Display list items side by side */
  li {
    display: inline;
    font-size: 18px;

    /* Add a color to all links inside the list */
    a {
      color: $accent-color;
      text-decoration: none;
    transition: all 0.2s ease;
      /* Add a color on mouse-over */
      &:hover {
        color: $accent-serious;
        text-decoration: underline;
      }
    }
  }

  /* Add a slash symbol (/) before/behind each list item */
  li+li:before {
    padding: 8px;
    color: black;
    content: ">";
  }
}



.home-button {
  margin-top: 8px;
}
// .headerbar {
//   background-color: $accent-color;
//   color: $light;
//   padding: $gutter;
//   // position: relative;
//   height: 50px;
//   position: fixed;
//   z-index: 999;
//   top: 0;
//   width: 100%;
//   display: flex;
//   align-items: center;
// }

// a {
//   color: $accent-color;
//   text-decoration: none;

//   transition: color 0.4s, background 0.4s;

//   &:hover {
//     color: darken($accent-color, 10);
//   }
// }

main {
  max-width: 1180px;
  padding: $gutter;
  margin: 0 auto;

  // h1 + p {
  //   @media (min-width: 900px) {
  //     font-size: 2em;
  //   }
  // }
}

header {
  background-color: $accent-color;
  color: $light;
  padding: $gutter;
  position: relative;
  .inner-header {
    margin: 0 auto;
    max-width: 1180px;
  }
  .brand {
    color: white;
    text-decoration: none;
    font-size: $base-font-size * 2;
    transition: all 0.2s ease;
    &:hover {
      text-shadow: 0 0 2px white;
    }
  }


  // a {
  //   color: $light;
  //   text-decoration: none;
  //   border-radius: $gutter / 4;

  //   padding: $gutter / 4;

  //   &:visited {
  //     color: $light;
  //   }
  //   &:hover,
  //   &:visited:hover {
  //     text-decoration: none;
  //     background-color: $light;
  //     color: $accent-color;
  //   }
  // }

  nav {
    ul {
      padding: 0px;
      margin: 0px;
      display: block;

      text-align: right;

      li {
        padding: 0px;
        margin: 0px $gutter / 4;
        display: inline-block;

        &.hamburger {
          display: none;
          button {
            position: absolute;
            right: $gutter;
            top: $gutter / 1.5;
            border: 0px;
            background-color: $light;
            color: $accent-color;
            font-weight: bold;
            border-radius: 50%;
            width: $gutter;
            height: $gutter;
            overflow: hidden;
            text-align: center;
            padding: 0px;
            margin: 0px;
          }
        }
      }

      @media (max-width: 900px) {
        li {
          display: none;
          &.hamburger {
            display: inline-block;
          }
        }
      }
    }
  }
}

.sidebarNavigation {
  width: $gutter * 10;

  max-width: 95%;

  ul {
    padding: 0px;
    margin: 0px;

    li {
      display: block;

      a {
        display: block;
        line-height: 1.4em;
        padding: $gutter / 4;
      }
    }
  }
}

// footer {
//   margin: $gutter * 2 auto;
//   display: flex;
//   align-content: center;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   max-width: 1180px;
//   padding: $gutter;

//   font-size: 12px;

//   a:hover {
//     text-decoration: none;
//   }

//   strong {
//     text-transform: uppercase;
//     margin-bottom: $gutter / 2;
//     display: block;
//     & a {
//       color: darken($boring-grey, 30);
//     }
//   }

//   ul {
//     display: block;
//     padding: 0px;
//     margin: 0px;

//     li {
//       display: block;
//       line-height: 1.4em;
//       padding: $gutter / 4 0;
//       margin: 0;

//       a {
//         color: $boring-grey;
//       }
//     }
//   }

//   .quarter-section {
//     margin-bottom: $gutter;
//     flex-basis: 25%;
//     @media (max-width: 900px) {
//       flex-basis: 33%;
//     }
//     @media (max-width: 700px) {
//       flex-basis: 50%;
//     }
//     @media (max-width: 500px) {
//       flex-basis: 100%;
//     }
//   }
// }

footer {
  background-color: #333;
  color: white;
  padding: 20px 50px;
  .inner-footer {
    text-align: center;
    margin: 0 auto;
    max-width: 1180px;
  }
}

#index-posts {
  .post-card {
    position: relative;
    // color: white;
    border-radius: 25px;
    margin-bottom: 1rem;
    padding: 40px 38px 45px;
    .item-link-overlay{
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 26px;
    }
    .post-title {
      // font-size: 1.75rem;
      a {
        // color: white;
        color: $dark;
        text-decoration: none;
      }
    }
    .post-content {
      color: $text-grey;
      p {
        font-weight: 600;
      }
    }
    .post-tags {
      text-transform: capitalize;
      i.fas {
        color: $accent-color;
      }
      .tag {
        position: relative;
        // margin-right: 5px;
        color: $text-grey;
        text-decoration: none;
        z-index: 2;
        padding: 4px 8px;
        border-radius: 20px;
        transition: all 0.2s ease;
        &:hover {
          color: $accent-color;
          background-color: #fff;
          text-decoration: underline;
        }
      }
    }
    .post-footer {
      margin: 60px 0 0;
      .read-more button {
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        padding: 12px 32px;
        transition: all .2s ease-out;
        background: $accent-color;
        border-radius: 4px;
        border: none;
        &:hover {
          background:  darken($accent-color, 10%);          
        }
      }
    }
  }
}

// .site-name {
//   flex: 1;
// //   margin-left: -36px;
// }
// article {
//   margin-top: 50px;
// }
// .hamburger {
//   padding-left: 10px;
// }
// .sidebar {
//   padding: 10px;
//   margin: 0;
// }
// .sidebar > li {
//   list-style: none;
//   margin-bottom: 10px;
// }
// .sidebar a {
//   text-decoration: none;
// }
// .close-sidebar {
//   font-size: 1.5em;
//   padding-left: 5px;
// }
