{{ partial "structure/head.html" . }}
{{ partial "header.html" . }}

<main>
    {{ partial "navigation/breadcrumbs.html" . }}
    {{ .Content }}

    <amp-iframe width="200" height="100"
        sandbox="allow-scripts allow-same-origin"
        layout="responsive"
        frameborder="0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAyAS599A2GGPKTmtNr9CptD61LE4gN6oQ&q=iceland">
    </amp-iframe>

</main>

{{ partial "custom/footer.html" . }}
{{ partial "structure/foot.html" . }}