<article class="post-card">
  <div class="post-title">
    <h2><a href="{{ .Permalink }}" class="white">
        {{- if eq .Section "talks" }}{{ .Params.event }}: {{ end -}}
        {{- cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) -}}
      </a></h2>
  </div>
  <div class="post-info">
    <i class="fas fa-clock"></i> <time datetime="2018-05-17">{{ .Date.Format "Jan 2, 2006" }}</time>
    {{ partial "tags.html" .}}
  </div>
  <div class="post-content">
    <p class="summary">{{ .Summary }}</p>
  </div>
  <div class="post-footer">
    <a href="{{ .Permalink }}" class="read-more">
      <button>Read more</button>
    </a>
  </div>


</article>