{{ partial "structure/head.html" . }}
{{ partial "header.html" . }}
<main class="main-index">

  <section id="index-posts" class="w-100 mw8">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
    {{ $pages := where $paginator.Pages ".Params.skip" "ne" "true" }}
    {{ range where (where $pages ".Date.Unix" "<" now.Unix) "Section" "ne" "slides" }}
    {{ partial "li.html" . }}
    {{ end }}
    <nav class="w-third-l pb3 f6 center db" role="navigation">
      {{- template "_internal/pagination.html" . -}}
    </nav>
  </section>

  <hr>

</main>

{{ partial "custom/footer.html" . }}
{{ partial "structure/foot.html" . }}